/* (C) Copyright 2024-2026 Dassault Systemes SE.  All Rights Reserved. */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fields {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 1em;
}
/* Style for showing Maps (list of key/value pairs) */
dl.map>div {
  display: flex;
  flex-direction: row;
}

dl.map>div>dd {
  margin-inline-start: 0px;
}

dl.map>div>dt::after {
  content: ":";
  padding-right: 5px;
}
.verticalAlignTop {
  vertical-align: top !important
}
.SectionSummary,
.FieldObjectSection {
  font-weight: bold;
}

.MuiTextField-root {
  display: flex !important;
  flex-direction: column;
}
.BuildNumber {
  padding: 5px;
  margin: 5px;
  color: gray;
  font-size: .75em;
}

.AbsoluteBottomRight {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.ErrorPage {
  white-space: pre-wrap;
  font-family: monospace;
  margin: 1em;
}

.ErrorPage>label {
  display: block;
  font-family: sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}