# (C) Copyright 2024-2025 Dassault Systemes SE.  All Rights Reserved.

ui/node_modules
ui/package-lock.json
ui/build
selenium-tests/files/kubeconfig
bin/
tmp/
selenium-tests/target
.project
.classpath
build
docker/development/default.conf
nuodb-control-plane/
nuodb.lic
