body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fields {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 1em;
}
/* Style for showing Maps (list of key/value pairs) */
dl.map>div {
  display: flex;
  flex-direction: row;
}

dl.map>div>dd {
  margin-inline-start: 0px;
}

dl.map>div>dt::after {
  content: ":";
  padding-right: 5px;
}