/* (C) Copyright 2024 Dassault Systemes SE.  All Rights Reserved. */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fields {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 1em;
}
/* Style for showing Maps (list of key/value pairs) */
dl.map>div {
  display: flex;
  flex-direction: row;
}

dl.map>div>dd {
  margin-inline-start: 0px;
}

dl.map>div>dt::after {
  content: ":";
  padding-right: 5px;
}
.verticalAlignTop {
  vertical-align: top !important
}
.SectionSummary,
.FieldObjectSection {
  font-weight: bold;
}

.gap {
  margin: 1em 0;
}