/* (C) Copyright 2024-2025 Dassault Systemes SE.  All Rights Reserved. */
html,
body,
#root,
.App,
.NuoPageLayout {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

html {
    min-height: 100vh;
}
.NuoContainerSM {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.NuoContainerLG {
    max-width: 100%;
    margin-left: 24px;
    margin-right: 24px;
}
.NuoLoginForm {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.NuoLoginForm>img {
    content: url("/ui/images/nuodb.png");
    width: 300px;
    height: 100%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
.NuoBanner {
    display: flex;
        flex-direction: row;
        justify-content: right;
        padding: 23px 25px 23px 27px;
    width: 100%;
}

.NuoBannerItems {
    flex: 1 0 auto;
    display: flex;
}

.NuoBannerSettings {
    flex: 0 0 auto;
    display: flex;
}
.DraggableElement {
    background-color: white;
}

.NuoMenuPopup {
    list-style: none;
    margin: 5px;
    padding: 8px 0px;
    position: absolute;
    justify-content: start;
    outline: 0px;
    color: black;
    background-color: white;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.NuoMenuPopupItem {
    display: flex;
        flex-direction: row;
        justify-content: space-between;
    margin: 0px;
    padding: 5px 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    text-align: left;
    cursor: pointer;
    white-space: nowrap;
}

.NuoMenuPopupItem>svg {
    display: flex;
    flex: 0 0 auto;
    opacity: 0.5;
}
.NuoMenuPopupItem:hover {
    background-color: lightgray;
}

.NuoAlignRight {
    left: auto;
    right: 0;
}

.NuoAlignLeft {
    left: 0;
    right: auto;
}
.NuoTableNoData {
    font-size: 1.25em;
    padding: 25px;
}
.NuoTableContainer {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
        margin: 15px;
}

.NuoTableTable {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: initial;
    unicode-bidi: isolate;
    border-color: gray;
}

.NuoTableThead {
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.NuoTableTr {
    color: inherit;
    display: table-row;
    vertical-align: middle;
    outline: 0;
    unicode-bidi: isolate;
    border-color: inherit;
    border-top: 1px solid rgba(224, 224, 224, 1);
}

.NuoTableSettingsItem {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.NuoRow {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.NuoColumn {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.NuoTableSettingsItem>label {
    display: flex;
    flex: 1 1 auto;
}

.NuoTableTh,
.NuoTableTd {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 0.875rem;
    letter-spacing: 0.0108em;
    display: table-cell;
    padding: 16px;
    vertical-align: inherit;
    color: rgba(0, 0, 0, 0.87);
    unicode-bidi: isolate;
    text-align: left;
}

.NuoTableTh {
    background-color: #f5f6f8;
}

.NuoTableTd {
    background-color: white;
    opacity: .8;
}
.NuoTableTd>button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
}
.NuoTableTh {
    line-height: 1.5rem;
    font-weight: 500;
}

.NuoTableTd {
    font-weight: 400;
    line-height: 1.43;
}

.NuoTableTbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
    border-collapse: collapse;
    border-spacing: 0;
}

.NuoTableMenuCell {
    position: sticky;
    right: 0;
    text-align: right;
}
.NuoCrontabContainer {
    display: flex;
    flex-direction: row;
}

.NuoFieldCrontab {
    position: relative;
    border: 1px solid;
    padding: 10px;
    color: rgba(0, 0, 0, 0.23);
    border-radius: 4px;
}

.NuoFieldCrontab>div,
.NuoFieldCrontab>select {
    margin: 10px;
}

.NuoFieldCrontab>div {
    width: calc(100% - 20px);
}

.NuoFieldCrontab>label {
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: white;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}
.NuoError {
    color: #d32f2f;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
}
.NuoCalendar {
    display: flex;
    flex-direction: row;
}

.NuoCalendarDate,
.NuoCalendarTime {
    display: flex;
    flex-direction: column;
}

.NuoCalendarTime {
    border-left: solid;
    border-color: lightgray;
    padding: 0 10px;
}

.NuoCalendarTime>label:not(:first-child) {
    margin-top: 10px;
}

.NuoCalendarMonthYear,
.NuoCalendarWeekdays {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.NuoCalendarMonthYear>select {
    display: flex;
    flex: 1 1 auto;
    margin: 3px;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 3px;
    text-align: center;
}

.NuoCalendarPrevNext {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.NuoCalendarCell,
.NuoCalendarCellHeader,
.NuoCalendarCellSelected {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
}

.NuoCalendarCellSelected {
    background-color: lightgray;
    border-radius: 20px;
}

.NuoCalendarCellHeader {
    color: lightgray;
}

code {
    white-space: pre-line;
}

.NuoDbConnectionInfo>fieldset {
    border: none;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.NuoDbConnectionInfo>fieldset>label {
    width: 150px;
    height: 25px;
    margin: 5px;
}

.NuoDbConnectionInfo>fieldset>textarea,
.NuoDbConnectionInfo>fieldset>input {
    margin: 5px;
    width: 100%;
    height: 25px;
}

.NuoDbConnectionInfoSample {
    width: 100%;
    height: 300px;
}

.NuoCopyButton {
    margin: 5px;
    width: 25px;
    height: 25px;
    float: left;
}

.NuoButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 5px 0;
}
.NuoRecordingBanner {
    background-color: #e0e033;
    padding: 5px 24px;
}

.NuoLogo {
    width: 62px;
    position: relative;
    margin: 5px;
}
.NuoLeftMenu {
    width: 200px;
    padding: 15px;
    transition: width 0.2s, padding 0.2s, opacity 0.2s;
}
.NuoLeftMenu>details {
    text-wrap: nowrap;
}
.NuoLeftMenu>details>summary {
    text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em;
    color: #888888;
    margin: 10px 0 0 0;
}

.NuoLeftMenu>details>ol {
    margin: 0 0 10px 0;
    padding: 0;
}

.NuoLeftMenuItem {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style-type: none;
    border-radius: 5px;
    height: 40px;
    padding: 0;
    cursor: default;
    text-wrap: nowrap;
    overflow: hidden;
    font-size: 0.9em;
}

.NuoLeftMenuItem>svg {
    margin: 5px;
    color: #cdd1d6;
}

.NuoLeftMenuItem {
    text-align: left;
    color: #7a8088;
}

.NuoLeftMenuItemSelected,
.NuoLeftMenuItemSelected>svg {
    background-color: #4f8dbf;
    color: white;
}

.NuoPageLayout {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.NuoPageLayoutMenuSeparator {
    width: 20px;
    border-left: 1px solid;
    border-color: rgba(240, 240, 240, 1);
    margin: 0 0 0 10px;
    padding: 0 10px 0 0;

}

.NuoPageLayoutMenuSeparator>button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    left: -10px;
    top: 25px;
    width: 20px;
    height: 20px;
    background-color: white;
    color: rgba(200, 200, 200, 1);

}
.NuoOrgSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NuoOrgSelector>svg {
    margin: 5px 0;
        color: #cdd1d6;
        border: 1px solid;
        border-radius: 50%;
        padding: 3px;
        width: 30px;
        height: 30px;
}

.NuoOrgSelector>select {
    display: flex;
    flex: 1 1 auto;
    border: 0;
    color: #7a8088;
    font-size: 1em;
        font-weight: bold;
}

.NuoOrgSeparator {
    height: 1px;
    border-bottom: 1px solid;
    border-color: rgba(240, 240, 240, 1);
    margin: 0 -25px 0 -15px;
}
.NuoFormHeader {
    margin-block-start: 0.67em;
    margin-block-end: 2em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.NuoFormHeader>h1 {
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 2em;
    font-weight: bold;
    unicode-bidi: isolate;
}

.NuoFormHeader>label {
    margin-block-end: 0.67em;
}

.NuoInfoPopup {
    display: flex;
    cursor: default;
    flex-direction: row;
    align-items: top;
    justify-content: right;
}

.NuoInfoPopup>label {
    display: none;
}

.NuoInfoPopup>svg {
    opacity: 0.5;
}

.NuoInfoPopup:hover>label {
    display: flex;
    text-wrap: wrap;
    max-width: 500px;
    background-color: white;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    position: absolute;
    margin-top: 30px;
    margin-left: -1000px;
    padding: 5px;
    z-index: 1001;
}

.NuoArrayLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.NuoTableField_labels {
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 99999px;
    padding: 2px 8px;
    margin: 2px;
}

*:has(>.NuoTableField_labels) {
    display: inline-block;
}

.NuoTableOptions {
    padding: 15px;
}