.NuoFieldError {
    color: red;
}
.NuoFieldString,
.NuoFieldSelect {
    display: flex;
        flex-direction: row;
    position: relative;
    border: 1px solid;
    margin: 5px;
}

.NuoFieldString>label,
.NuoFieldSelect>label {
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: white;
    font-size: 1rem;
}

.NuoFieldString>input,
.NuoFieldSelect>select {
    border: none;
    padding: 10px;
    left: 0px;
    width: 100%;
}
.NuoBannerMenu {
    flex-direction: row;
    display: flex;
}

.NuoBannerItem,
.NuoBannerMenu>button {
    cursor: pointer;
    background-color: transparent;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    color: white;
    display: block;
    outline: 0px;
    border-width: 0px;
    margin: 16px 0px;
    text-decoration: none;
    padding: 6px 8px;
}
.NuoPagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.NuoPaginationItem {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.NuoPaginationItemSelected {
    background-color: rgba(0, 0, 0, 0.08);
}
