/* (C) Copyright 2024 Dassault Systemes SE.  All Rights Reserved. */
.FieldError {
    color: red;
}
.FieldString {
    position: relative;
    border: 1px solid;
    margin: 5px;
}

.FieldString>label {
    position: absolute;
    top: -15px;
    left: 10px;
    background-color: white;
}

.FieldString>input {
    border: none;
    left: 0px;
    width: 100%;
}